{% extends "layout.html" %}
    
{% block content %}
  {% if loggedOut %}
    <center>
      Sucessfully logged-out
    </center>
  {% endif %}
  <center>
    <form action="/auth/login" method="POST" name="login">
      <p>
      <label>
        Enter your username: <br/>
        <input type="text" name="username" placeholder="Username"/>
      </label>
      </p>

      <p>
      <label>
        Enter your password: <br/>
        <input type="password" name="password" placeholder="Password"/>
      </label>
      </p>

      <p>
        <button type="submit">
          Log In
        </button>
      </p>
    </form>
  </center>
{% endblock %}
